@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;